
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <title>About</title>
</head>
<body>

    <section class="header">
    <div class="responsiveNavWrapper">
        <div class="hamburgerIcon">
            <!-- <img src="./assets/menu.png" alt=""> -->
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="logo">
            <a href="/">
                <h3><b>GOLDORIES<b></h3>
            </a>
        </div>
        <div class="responsiveNav">
            <div class="backFilter"></div>
            <div class="responsiveNavLinksWrapper">
                <div class="responsiveNavTop">
                    <div class="logo">
                        <a href="/">
                            <h3><b>GOLDORIES<b></h3>
                        </a>
                    </div>

                    <% if(username!=null){ %> 
                        <p>Hello! <%=username  %> </p>
        
                    <% }else{ %>   
                        <p>guest</p>
                    <% } %> 
               

                </div>

                <div class="divider"></div>

                <div class="responsiveNavLinks">
                    <a  href="/">HOME</a>
                    <a id = "selected" href="/about">ABOUT</a>
                    <a href="/addFood">ADD FOOD</a>
                    <a href="/searchFood">SEARCH FOOD</a>
                    <a href="/updateFood">UPDATE FOOD</a>
                    <a href="/listFood">LIST FOOD</a>
                    <a href="/api">API</a>
                </div>

                <div class="divider"></div>

                <div class="responsiveNavLinksBottom">
                    <% if(username!=null){ %> 
                        <a href="/logOut" class="logout">Sign out</a>
        
                    <% }else{ %>   
                        <a href="/login">LOGIN</a>
                        <a href="/register">SIGN UP</a>
                    <% } %> 

      
                </div>

            </div>   

        </div>
 
    </div>    

    <div class="nav-top">
        <div class="logo">
            <a href="/">
                <h3><b>GOLDORIES<b></h3>
            </a>
        </div>
        <div class="links">
            <% if(username!=null){ %> 
                <p>Hello! <%=username  %> </p>
                <div class="dividerLine"></div>
                <a href="/logOut" class="logout">Sign out</a>

            <% }else{ %>   
                <% console.log(username) %> 
                <a href="/login" class="login">Log in</a>
                <div class="dividerLine"></div>
                <a href="/register" class="register">Sign up</a>
            <% } %> 
        </div>
    </div>
    <nav>
        <div class="links">
            <a  href="/">HOME</a>
            <a id = "selected" href="/about">ABOUT</a>
            <a href="/addFood">ADD FOOD</a>
            <a href="/searchFood">SEARCH FOOD</a>
            <a href="/updateFood">UPDATE FOOD</a>
            <a href="/listFood">LIST FOOD</a>
            <a href="/api">API</a>
        </div>

    </nav>

    <p class="title" >ABOUT US</p>
        
        <img src="./assets/background2.jpg" alt="background" class="background">
        <div class="content">
  
            <!-- <div class="part1"></div>
            <div class="part2"></div> -->

            <div class="contentWrapper">
                <header>
                    <p class="company_name">GOLDERIES</p>
                    <p class="title" style="text-decoration: none;">ABOUT THE COMPANY</p>
                </header>
            
                <p>Goldories was established in 1st April 2021 by CEO Muneeb Rehman as part of a programme to help people get fit, especially in times when lockdown and restrictions is in place, which prevent many of us from doing the very basic excersices that we need.</p>    
                <p>This website is designed in such way that anyone can join for free, yes free! No fee involved at all. Here you can have access to information of food submitted by many other users, food which contains information about calories, carbs, and other nutrients, and you can use the calorie counter in list page, which is the main bit of the website, and here you can use it to count and keep track of calories. </p>    
                <p>If you wish to contribute, you can add food and include its information, this would be useful as the more variety of food and recipes are added in this website, the more helpful this website will be overall, so if you have any food in mind which doesnt exist in list page, add it!</p>.
           
                <p>The website also provides an REST-API which you can use to implement within your own service, and have the food listed there as well, but be sure to credit me and this website :).</p>    


            </div>


        </div>
    </section>




    <script src="./script.js"></script>
    <footer>
    </footer>


</body>
</html>









