<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>Add Food</title>
</head>
<body>
    <div class="nav-top">
        <div class="logo">
            <!-- <img src="./assets/logo.png" alt="logo"> -->
            <h3><b>GOLDERIES<b></h3>
        </div>
        <div class="links">
            <% if(username!=null){ %> 
                <p>Hello! <%=username  %> </p>
                <div class="dividerLine"></div>
                <a href="/logOut" class="logout">Sign out</a>

            <% }else{ %>   
                <% console.log(username) %> 
                <a href="/login" class="login">Log in</a>
                <div class="dividerLine"></div>
                <a href="/register" class="register">Sign up</a>
            <% } %> 
        </div>
    </div>

    <nav>
        <div class="links">
            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a id = "selected" href="/addFood">ADD FOOD</a>
            <a href="#">SEARCH FOOD</a>
            <a href="#">UPDATE FOOD</a>
            <a href="#">LIST FOOD</a>
            <a href="#">API</a>
        </div>

    </nav>

    
    <div class="content">
        <header>
            <p class="title">ADD FOOD</p>
        </header>
        <% if(message!=""){ %>
            <% if(type=="accept"){ %>  
                <p style="background-color: green" class="feedback"><%=message %> </p>
            <% }else{ %>
                <p style="background-color: red" class="feedback"><%=message %> </p>
            <% } %>  
        <% } %>
        <div class="formContainer">

            <div class="fixedWidthContainer">
                <form method = "POST" action="/foodAdded">
                    <p class="title">IDK LOREM EPSDV DFE.</p>
                    <input class="textbox" type="text" name="name" id="name" placeholder="Name">
                    <input class="textbox" type="text" name="value" id="value" placeholder="Value">
                    <input class="textbox" type="text" name="unit" id="unit" placeholder="Unit">
                    <input class="textbox" type="text" name="calories" id="calories" placeholder="Calories">
                    <input class="textbox" type="text" name="carbs" id="carbs" placeholder="Carbs">
                    <input class="textbox" type="text" name="fat" id="fat" placeholder="Fat">
                    <input class="textbox" type="text" name="protein" id="protein" placeholder="Protein">
                    <input class="textbox" type="text" name="salt" id="salt" placeholder="Salt">
                    <input class="textbox" type="text" name="sugar" id="sugar" placeholder="Sugar">
                    <div class="buttonWrapper">
                        <input class="submit" type="submit" value="ADD IT!">
                    </div>

                </form>
            </div>
        </div>
    </div>
    
</body>
</html>